/* 전체 배경 */
html,body{
    height: 100%;
    margin: 0;
}
body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

/* 검색창 박스 */
.search-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* 입력창 그룹 */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

/* 버튼 */
button {
    width: 100%;
    padding: 12px;
    background-color: #1784f9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}